<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!--clicky analytics start-->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101184936);</script>
    <script async src="//static.getclicky.com/js"></script>
    <!--clicky analytics ends-->
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-12 columns">
            <h1 class="text-center">Monster Slayer</h1>
            <p class="text-center">Objective is not to win but to draw.</p>
        </div>
    </section>
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div 
                        class="healthbar text-center" 
                        style="background-color: green; margin: 0; color: white;"
                        :style="{width: playerHealth + '%'}">
                    {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div
                        class="healthbar text-center"
                        style="background-color: green; margin: 0; color: white;"
                        :style="{width: monsterHealth + '%'}">
                    {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row game-end" v-if="gameEndedStatus != ''">
        <div class="small-12 columns">
            <ul>
                <li>{{ gameEndedStatus }}</li>
            </ul>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li
                    v-for="turn in turns"
                    :class="{'player-turn': turn.is_player, 'monster-turn': !turn.is_player}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>